.container {
    margin: 100px;
}

.name {
    font-weight: bold;
}
.group {
    display:flex;
}

.col {
    text-align: center;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
}

img {
    height: 100px;
}